/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.about_us {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  overflow: hidden;
  background-color: var(--ifm-background-color)
}

.container {
  width: 60vw;
  height: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; 
}

.img_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  border-radius: 10px;
  width: 90%;
}

.information_container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  margin-top: -0.8rem;
  color: var(--ifm-heading-color);
}

.subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.7px;
}

.button {
  padding: 0.6rem 2rem;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-background-color);
  border-radius: 5px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
}

.button:hover {
  background-color: #1e1e1e;
  color: var(--ifm-color-primary);
  text-decoration: none;
}

@media screen and (max-width: 996px) {
  .container {
    width: 40vw;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .information_container {
    height: 25vw;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .button {
    padding: 0.5rem 1rem;
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 70vw;
    height: fit-content;
  }

  .information_container {
    height: fit-content;
  }

  .button {
    font-size: 12px;
  }
}
