/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.about_us {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 0 6rem;
  overflow: hidden;
  background-color: var(--ifm-background-color);
}

.maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headercontainer {
  margin-bottom: 80px;
}

.container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: auto;
}

.img_container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  border-radius: 10px;
  width: auto;
  height: 250px;
}

.information_container {
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  color: var(--ifm-color-primary);
}

.subtitle {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  width: 50%;
  margin: auto;
}

.descriptionhighlight {
  color: #ffffff;
}

.description {
  font-size: 21px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.052799999713897705px;
  text-align: left;
  color: #999999;
}

.outlinedbutton {
  border-width: 1px;
  border-color: var(--ifm-color-primary);
  padding: 5px 25px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 13px;
}

.outlinedbutton:hover {
  text-decoration: none;
}

@media screen and (max-width: 996px) {
  .about_us {
    padding: 6rem 0 0;
  }

  .container {
    width: 40vw;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 20px;
  }

  .information_container {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .img {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 70vw;
    height: fit-content;
    margin-bottom: 20px;
  }

  .img {
    height: auto;
  }

  .information_container {
    height: fit-content;
  }

  .subtitle {
    width: 90%;
  }

  .outlinedbutton {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 2200px) {
  .about_us {
    width: 60vw;
    margin: auto;
  }
}

@media screen and (min-width: 3200px) {
  .about_us {
    width: 40vw;
    margin: auto;
  }
}
