/**
* CSS files with the .module.css suffix will be treated as CSS modules
* and scoped locally.
*/

.kits_card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 0;
  overflow: hidden;
  background-color: var(--ifm-background-color)
}

.link {
  color: var(--ifm-heading-color);
}

.link:hover {
  color: var(--ifm-heading-color);
  text-decoration: none;
}

.container {
  width: 55vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.img_container {
  width: 85%;
  display: flex;
  justify-content: center;
}

.img {
  border-radius: 10px;
  width: 100%;
  border: 2px solid #979797;
}

.information_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
}

.subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.7px;
}

@media screen and (max-width: 996px) {
  .kits_card {
    padding: 4rem 0 8rem;
  }

  .title {
    font-size: 50px;
  }

  .subtitle {
    font-size: 18px;
  }

  .container {
    width: 40vw;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .img_container {
    width: 110%;
  }

  .information_container {
    width: 85%;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }
}
