/**
* CSS files with the .module.css suffix will be treated as CSS modules
* and scoped locally.
*/

.kits_gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--ifm-background-color);
  padding-bottom: 8rem;
}

.container {
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem; 
}

.title_container {
  width: 100%;
  height: auto;
  margin-top: 0;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.description {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.gallery_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.gallery_item {
  width: 100%;
}

.item_img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}

.gallery_item:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1270px) {
  .gallery_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 996px) {
  .developer_kits {
    padding: 0;
  }

  .title_container {
    margin-top: 2rem;
  }

  .title {
    font-size: 4vw;
  }

  .description {
    font-size: 1.8vw;
  }

  .container {
    width: 80vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 32px;
  }

  .description {
    font-size: 14px;
    line-height: 22px;
  }

  .gallery_container {
    grid-template-columns: 1fr;
  }
}
