/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  background-color: var(--ifm-background-color);
}

.container {
  width: 70vw;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--ifm-font-color-base);
}

.title_container {
  width: 100%;
  text-align: left;
}

.title {
  font-family: "Manrope", sans-serif;
  font-style: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
}

.subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.7px;
}

.slider_container {
  width: 70%;
  margin-top: 1rem;
}

.slider_content {
  width: 95%;
  height: 20vw;
  margin: 0 auto;
  display: block;
}

.slider_img {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.btn_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
  margin-bottom: 1rem;
}

.button {
  padding: 0.3rem 2rem;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-background-color);
  border-radius: 5px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  margin-right: 1rem;
}

.button:hover {
  background-color: #1e1e1e;
  color: var(--ifm-color-primary);
  text-decoration: none;
  cursor: pointer;
}  

.btn_slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_slider {
  cursor: pointer;
  color: var(--ifm-color-primary);
}

.btn_slider:hover {
  color: var(--ifm-font-color-base);
}

.btn_slider:active {
  color: var(--ifm-color-primary-lightest);
}

@media screen and (max-width: 996px) {
  .container {
    width: 75vw;
    height: auto;
  }

  .slider_container {
    display: flex;
    justify-content: center;
  }

  .slider_content {
    height: 30vw;
  }

  .slider {
    width: 115%;
  }

  .btn_container {
    width: 100%;
  }

  .button {
    padding: 0.15rem 1.8rem;
    font-size: 1.6vw;
  }
}
