/**
* CSS files with the .module.css suffix will be treated as CSS modules
* and scoped locally.
*/

.kits_gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--ifm-background-color);
  padding: 4rem 0 6rem;
}

.container {
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.title_container {
  width: 100%;
  height: auto;
  margin-top: 0;
}

.filters_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  /* background-color: white; */
}

.button {
  font-size: 1.1rem;
  background-color: var(--ifm-background-color);
  border: none;
}

.button:hover {
  cursor: pointer;
  color: var(--ifm-color-primary);
}

.gallery_container {
  width: 100%;
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.gallery_item {
  width: 100%;
}

.item_img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery_item:hover {
  opacity: 0.5;
}

.no_match {
  font-size: 1.3rem;
}

@media screen and (max-width: 1270px) {
  .gallery_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 996px) {
  .kits_gallery {
    padding: 2rem 0 2rem;
  }

  .title_container {
    margin-top: 2rem;
  }

  .container {
    width: 80vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .gallery_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .gallery_container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 2200px) {
  .gallery_container {
    grid-template-columns: repeat(6, 1fr);
  }
  .container {
    width: 70vw;
  }
}

@media screen and (min-width: 3200px) {
  .gallery_container {
    width: 60vw;
    grid-template-columns: repeat(7, 1fr);
  }
  .container {
    width: 60vw;
  }
}