
/**
* CSS files with the .module.css suffix will be treated as CSS modules
* and scoped locally.
*/

.software_view {
background-color: #000;
}

.container {
width: 100vw;
padding: 7rem 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
}

.info_container {
width: 60vw;
text-align: left;
margin: 0 auto 3rem;
}

.title {
font-family: "Manrope", sans-serif;
font-style: bold;
font-size: 2.4vw;
line-height: 78%;
letter-spacing: -1px;
}

.subtitle {
font-family: "Manrope", sans-serif;
font-weight: 400;
font-size: 1.2vw;
letter-spacing: -0.7px;
}

.highlight {
color: red;
}

.img_container {
width: 100%;
display: flex;
justify-content: center;
margin: 2rem 0;
}

@media screen and (max-width: 996px) {
.info_container {
width: 70vw;
}
.title {
font-size: 4vw;
}

.subtitle {
font-size: 2vw;
}

.container {
width: 80vw;
height: auto;
justify-content: space-between;
align-items: center;
gap: 1rem;
}
}