/**
* CSS files with the .module.css suffix will be treated as CSS modules
* and scoped locally.
*/

.link_container {
  color: #ffffff;
}

.link_container:hover {
  color: #ffffff;
  text-decoration: none;
}

.roles_based_entry {
  padding: 10rem 0 0rem;
}

@media screen and (min-width: 2200px) {
  .roles_based_entry {
    width: 70vw;
    margin: auto;
  }
}

@media screen and (min-width: 3200px) {
  .roles_based_entry {
    width: 60vw;
    margin: auto;
  }
}

.card_container {
  width: 380px;
  height: 172px;
  padding: 50px 20px 5px 20px;
  background-color: var(--ifm-background-color);
  border-radius: 10px;
  border: 0px solid #ffffff;
  margin-left: 40px;
  display: flex;
  align-items: center;
  box-shadow: rgb(255 255 255 / 50%) 0px 0px 10px;
  border-width: 1px;
  border-color: var(--ifm-color-card-border);
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.card_container:hover {
  background-color: var(--docusaurus-highlighted-code-line-bg);
}

.roles_description {
  font-size: 14px !important;
  line-height: 26px !important;
  letter-spacing: 0.6px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
  color: var(--ifm-heading-color);
}

.roles_title {
  font-size: 22px !important;
  line-height: 26px !important;
  letter-spacing: 0.6px !important;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  color: var(--ifm-heading-color);
}

.icon_container {
  display: flex;
}

.empty_container {
  width: 150px;
}

.arrow_icon {
  margin-top: 30px;
  color: var(--ifm-color-primary);
}


.text_card_container {
  margin-left: 130px;
  width: 400px;
  height: auto;
  padding: 50px;
}

@media screen and (max-width: 996px) {
  .roles_based_entry {
    padding: 5rem 0 0rem;
    margin-left: 50px
  }

  .text_card_container {
    margin-left: 0px;
    width: 100px;
    height: auto;
    padding: 50px;
  }

  .card_container {
    width: 300px;
    margin-left: 20px;
  }

  .empty_container {
    width: 80px;
  }
  
  
  .roles_description {
    font-size: 12px !important;
    width: 150px;
  }
}

@media screen and (max-width: 600px) {
  .text_card_container {
    margin-left: 0px;
    width: 0px;
    height: auto;
    padding: 10px;
  }

  .roles_based_entry {
    padding: 5rem 0 0rem;
    margin-left: 20px
  }

  .card_container {
    width: 320px;
    margin-left: 20px;
  }

  .empty_container {
    width: 130px;
  }
  
  
  .roles_description {
    font-size: 12px !important;
    width: 250px;
  }
  
  .roles_title {
    font-size: 18px !important;
  }
}

.slick-next:before {
  content: '';
}

.slick-prev:before {
  content: '';
}

.prev_arrow {
  display: flex;
  left: 20px;
  position: absolute;
  top: 75px;
  cursor: pointer;
  z-index: 9;
  background-color: var(--ifm-background-color);
  border-radius: 100px;
}

.next_arrow {
  display: flex;
  right: 20px;
  position: absolute;
  top: 75px;
  cursor: pointer;
  z-index: 9;
  background-color: var(--ifm-background-color);
  border-radius: 100px;
}