/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.faqs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  background-color: var(--ifm-background-color);
}

.container {
  width: 70vw;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
}

.title_container {
  width: 100%;
  text-align: left;
}

.title {
  font-family: "Manrope", sans-serif;
  font-style: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
}

.accordion_box {
  width: 100%;
  margin-top: 3rem;
}

.accordion {
  margin: 1rem 0;    
  border-bottom: 1px solid rgba(108, 100, 100, 0.2);
}

.btn_container {
  margin-top: 4rem;
}

.button {
  padding: 0.6rem 2rem;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-background-color);
  border: none;
  border-radius: 5px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  cursor: pointer;
}
      
.button:hover {
  background-color: #1e1e1e;
  color: var(--ifm-color-primary);
  text-decoration: none;
}

@media screen and (max-width: 996px) {
  .faqs {
    padding: 2rem 0;
  }

  .container {
    width: 80vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .accordion_box {
    margin-top: 0rem;
  }

  .btn_container {
    margin-top: 1rem;
  }

  .button {
    padding: 0.5rem 1rem;
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 600px) {
  .faqs {
    padding: 0;
  }

  .container {
    width: 90vw;
  }

  .button {
    font-size: 12px;
  }
}
