/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.faqs {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 0;

  /* background-color: var(--ifm-background-color); */
  /* background-image: url("/static/img/main_bg-min.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; */
}

.hero_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_container {
  width: 100%;
  text-align: left;
}

.accordion_box {
  width: 100%;
  margin-top: 1rem;
}

.accordion {
  margin: 1rem 0;    
  /* border-bottom: 1px solid #33373c; */
  border-bottom: 1px solid #555;
}

.btn_container {
  margin-top: 4rem;
}

@media screen and (max-width: 996px) {
  .faqs {
    padding: 6rem 0;
  }

  .container {
    width: 80vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .accordion_box {
    margin-top: 0rem;
  }

  .btn_container {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 90vw;
  }
}
