/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.usage_content {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--ifm-background-color);
}

.container {
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; 
  padding-bottom: 2rem;
}

.title_container {
  width: 100%;
  height: auto;
  padding-top: 4rem;
}

.domains_container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.domain_item {
  display: flex;
  justify-content: space-between;
}

.domain_logo_box {
  width: 13%;
}

.logo {
  width: 100%;
}

.domain_description {
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (max-width: 1240px) {
  .domain_logo_box {
    width: 20%;
  }

  .domain_description {
    width: 75%;
  }
}

@media screen and (max-width: 996px) {
  .container {
    width: 80vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    gap: 3rem;
  }

  .title_container {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 70vw;
    gap: 1rem;
    padding-bottom: 0;
  }

  .domain_logo_box {
    width: 25%;
  }

  .domain_description {
    width: 70%;
  }
  
  .domain_item {
    flex-direction: column;
  }
  
  .domain_logo_box {
    width: 100%;
  }
  
  .logo {
    width: 30%;
  }
  
  .domain_description {
    width: 100%;
  }
}
