/**
* CSS files with the .module.css suffix will be treated as CSS modules
* and scoped locally.
*/

.info_container {
/* background-image: url("/static/img/main_bg-min.png");
background-position: bottom;
background-repeat: no-repeat;
background-size: cover;  */
background-color: #000;
}

.paragraph {
width: 60vw;
margin: 0 auto;
padding: 4rem 0;
font-family: "Manrope", sans-serif;
font-weight: 500;
font-size: 1.2rem;
line-height: 2rem;
}

.benefits {
width: 60vw;
margin: 0 auto;
padding: 3rem 0 6rem;
}

.irs {
width: 60vw;
margin: 0 auto;
padding: 0 0 6rem;
}

.title {
font-family: "Manrope", sans-serif;
font-style: bold;
font-size: 2.2vw;
line-height: 78%;
letter-spacing: -1px;
}

.subtitle {
font-family: "Manrope", sans-serif;
font-weight: 400;
font-size: 1.4vw;
margin-bottom: 3rem;
}

.video {
width: 60vw;
margin: 0 auto;
margin-top: -2rem;
}

.img {
margin-bottom: 1rem;
}

@media screen and (max-width: 996px) {
.paragraph {
width: 80vw;
font-weight: 500;
font-size: 1.6vw;
line-height: 1.5rem;
}

.benefits,
.irs {
width: 80vw;
}

.title {
font-size: 4vw;
}

.subtitle {
font-size: 1.6vw;
}
} 