/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .about_content {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--ifm-background-color);
}

.container {
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; 
  padding-bottom: 6rem;
}

.title_container {
  width: 100%;
  height: auto;
  padding-top: 4rem;
}

.img_container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;
}

.img_container:last-of-type {
  justify-content: flex-start;
}

.img {
  width: 75%;
  height: auto;
}

.licenses {
  width: 65%;
}

@media screen and (max-width: 996px) {
  .container {
    width: 80vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    gap: 3rem;
  }

  .title_container {
    padding-top: 3rem;
  }

  .img {
    width: 80%;
  }

  .licenses {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 70vw;
  }

  .img {
    width: 100%;
  }

  .licenses {
    width: 100%;
  }
}
