
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .about_content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  overflow: hidden;
  background-color: var(--ifm-background-color);
}

.container {
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem; 
  padding-bottom: 6rem;
}

.title_container {
  width: 100%;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.img_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img_container:last-of-type {
  justify-content: flex-start;
}

.img {
  width: 70%;
  height: max-content;
}

.licenses {
  width: 65%;
}

.information_container {
  width: 100%;
  height: auto;
}

.description {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@media screen and (max-width: 996px) {
  .container {
    width: 60vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .information_container {
    height: auto;
    justify-content: space-around;
    align-items: center;
  }

  .img {
    width: 100%;
  }

  .licenses {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 70vw;
  }

  .licenses {
    width: 100%;
  }
}
