/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.developer_header {
  position: relative;
  overflow: hidden;
  height: 30vh;
}

.hero_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
      
.container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("/static/img/main_bg-min.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover; */
}
      
.svg_container {
  width: 25vw;
  height: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
      
.svg {
  width: 100%;
  height: 100%;
  position: absolute;
  right: -2rem;
}
      
.information_container {
  width: 60vw;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
      
@media screen and (max-width: 996px) {
  .developer_header {
    height: auto;
  }

  .container {
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
  }

  .svg_container {
    justify-content: center;
  }

  .svg {
    position: initial;
  }

  .information_container {
    width: 75vw;
    height: 20vw;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .developer_header {
    height: fit-content;
  }

  .svg_container {
    width: 40vw;
    height: fit-content;
  }

  .svg {
    width: 80%;
    height: 80%;
  }

  .information_container {
    width: 80vw;
    height: fit-content;
  }
}


@media screen and (min-width: 2200px) {
  .developer_header {
    margin: auto;
    width: 70vw;
  }
}

@media screen and (min-width: 3200px) {
  .developer_header {
    margin: auto;
    width: 60vw;
  }
}
