.img {
    width: auto;
    height: auto;
}

.fullwidthImage {
    width: 75%;
    height: auto;
    margin: auto;
    margin-top: 50px;
}

.closeIcon {
    position: fixed;
    right: 20px;
    color: white;
    top: 50px;
    cursor: pointer;
}

@media screen and (max-width: 996px) {
    .fullwidthImage {
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 0px;
    }
}