/**
* CSS files with the .module.css suffix will be treated as CSS modules
* and scoped locally.
*/

.conmmunity_info {
  padding: 5rem 0 5rem 0rem;
  background: var(--ifm-background-color);
}

@media screen and (min-width: 2200px) {
  .conmmunity_info {
    width: 70vw;
    margin: auto;
  }
}

@media screen and (min-width: 3200px) {
  .conmmunity_info {
    width: 60vw;
    margin: auto;
  }
}

.text_card_container {
  margin-left: 210px;
  width: 400px;
  height: auto;
  padding: 20px 60px;
}

.img {
  width: 100px;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.card_container {
  width: 250px;
  height: 250px;
  background-color: #1E1E1E;
  border-radius: 10px;
  border: 0px solid #ffffff;
  display: flex;
  align-items: center;
  box-shadow: rgb(255 255 255 / 50%) 0px 0px 10px;
  border-width: 1px;
  margin-left: 30px;
  border-color: rgba(255,255,255,0.3);
  justify-content: center;
  margin-bottom: 10px;
}

.text_card_description {
  font-size: 14px !important;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  width: 200px;
}

.card_title {
  font-size: 14px !important;
  padding-left: 30px;
}

.text_card_title,
.text_card_subtitle {
  font-size: 48px !important;
  line-height: 26px !important;
  letter-spacing: 0.6px !important;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  font-weight: bold;
  padding-bottom: 20px;
}

.text_card_subtitle {
  color: #999999;
}

.icon_container {
  display: flex;
}

.empty_container {
  width: 150px;
}

.arrow_icon {
  margin-top: 30px;
  color: #FAA023;
}

.card_title_container {
  display: flex;
}

.card_title_container p {
  color: var(--ifm-heading-color);
}

.link_container {
  text-decoration: none !important;
}

.launch {
  padding-left: 10px;
  cursor: pointer;
  color: var(--ifm-heading-color);
}

@media screen and (max-width: 996px) {
  .text_card_container {
    margin-left: 20px;
    width: 350px;
    height: 200px;
    padding: 10px 30px;
  }
  
  .img {
    width: 80px;
    height: auto;
  }

  .conmmunity_info {
    padding: 4rem 0em 4rem 5em;
  }

  .card_container {
    width: 250px;
    height: 250px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .text_card_container {
    width: 200px;
    height: 200px;
    padding: 0px;
  }
  
  .img {
    width: 70px;
    height: auto;
  }

  .conmmunity_info {
    padding: 5rem 0em 5rem 1em;
  }

  .card_container {
    width: 200px;
    height: 200px;
  }
  
  .text_card_title,
  .text_card_subtitle {
    font-size: 30px !important;
    padding-bottom: 10px;
  }
}

.slick-next:before {
  content: '';
}

.slick-prev:before {
  content: '';
}

.next_arrow {
  position: absolute;
  display: flex !important;
  color: #fff;
  right: 20px;
  box-shadow: 0px 0px 200px 40px rgb(255 255 255);
  border-radius: 100px;
  margin-top: -10px;
  top: 120px;
  cursor: pointer;
  background-color: var(--ifm-color-card-border);
}

.prev_arrow {
  position: absolute;
  display: flex !important;
  color: #fff;
  left: 20px;
  box-shadow: 0px 0px 200px 40px rgb(255 255 255);
  border-radius: 100px;
  margin-top: -10px;
  top: 120px;
  cursor: pointer;
  z-index: 9;
  background-color: var(--ifm-color-card-border);
}