/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: 'Manrope';
  src: url('/font/Manrope-Regular.ttf');
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #faa023;
  --ifm-color-primary-dark: #f99407;
  --ifm-color-primary-darker: #ed8c05;
  --ifm-color-primary-darkest: #c37304;
  --ifm-color-primary-light: #fbac3f;
  --ifm-color-primary-lighter: #fbb24d;
  --ifm-color-primary-lightest: #fcc477;
  --ifm-background-color: #fff;
  --ifm-navbar-background-color: #f0f0f0;
  --ifm-menu-color: #00000099;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-heading-color: #000;
  --ifm-font-color-base: #000;
  --ifm-navbar-link-color: #00000099;
  --ifm-color-secondary-darkest: #626262;
  --ifm-color-card-border: rgba(0, 0, 0, 0.3);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
:root[data-theme='dark'] {
  --ifm-color-primary: #faa023;
  --ifm-color-primary-dark: #f99407;
  --ifm-color-primary-darker: #ed8c05;
  --ifm-color-primary-darkest: #c37304;
  --ifm-color-primary-light: #fbac3f;
  --ifm-color-primary-lighter: #fbb24d;
  --ifm-color-primary-lightest: #fcc477;
  --ifm-background-color: #000;
  --ifm-navbar-background-color: #000;
  --ifm-menu-color: #fff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-heading-color: #fff;
  --ifm-font-color-base: #fff;
  --ifm-navbar-link-color: #fff;
  --ifm-color-secondary-darkest: #000;
  --ifm-color-card-border: rgba(255, 255, 255, 0.3);
}

/* Algolia DocSearch Component */
[data-theme='light'] .DocSearch {
  --docsearch-text-color: var(--ifm-navbar-link-color);
  --docsearch-muted-color: var(--ifm-navbar-link-color);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  --docsearch-highlight-color: var(--ifm-color-primary-darker);
  --docsearch-modal-width: 50vw;
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
  --docsearch-searchbox-shadow: none;
  --docsearch-key-shadow: none;
  --docsearch-key-gradient: none;
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-navbar-link-color);
  --docsearch-muted-color: var(--ifm-navbar-link-color);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  --docsearch-highlight-color: var(--ifm-color-primary-darker);
  --docsearch-modal-width: 50vw;
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
  --docsearch-searchbox-shadow: none;
  --docsearch-key-shadow: none;
  --docsearch-key-gradient: none;
}

.DocSearch-Form {
  border-bottom: 1px solid var(--ifm-color-primary-darker);
}

.DocSearch-Footer {
  border-top: 0.5px solid var(--ifm-color-primary-darker);
}

.DocSearch-Logo svg path,
.DocSearch-Logo svg rect {
  fill: #a4a4a4;
}

.DocSearch-Button .DocSearch-Button-Keys,
.DocSearch-Button .DocSearch-Button-Container .DocSearch-Button-Placeholder {
  display: none;
}

/* Global Classes */
.headers-title-h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.headers-subtitle-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  width: 80%;
}

.title-h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.subtitle-h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.7px;
}

.description-p {
  font-weight: 400;
  font-size: var(--ifm-font-size-base);
  line-height: var(--ifm-line-height-base);
}

.button {
  padding: 0.6rem 2rem;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-background-color);
  border-radius: 5px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
}

.button:hover {
  background-color: #1e1e1e;
  color: var(--ifm-color-primary);
  text-decoration: none;
}


/* Docusaurus NavBar */
.navbar {
  height: 74px;
}

.navbar__items {
  margin: 0 20px;
}

.navbar__brand {
  margin-right: 32px;
}

.navbar__title {
  font-weight: bolder;
  font-size: 18px;
}

.navbar__link {
  margin: 0 16px;
  font-size: 14px;
  font-weight: bold;
}

.dropdown.dropdown--right {
  background-color: var(--ifm-color-primary-darkest);
  border-radius: 5px;
}

/* Docusaurus Footer */
.footer__links {
  border-top: 0.5px solid #aaa;
  padding-top: 2rem;
}

.footer .container .footer__bottom {
  margin-top: 60px;
}

.footer--dark {
  background-color: var(--ifm-color-secondary-darkest);
}

/* .footer__title,
.footer__link-item,
.footer__copyright {
  color: var(--ifm-navbar-link-color);
} */

/* Docusaurus Menu */
.menu__list-item {
  background-color: var(--ifm-background-color);
}

.hidden {
  display: none !important;
}

/* Media Queries */
@media screen and (max-width: 1250px) {
  .navbar__items {
    margin: 0 8px;
  }
  
  .navbar__brand {
    margin-right: 16px;
  }
  
  .navbar__title {
    font-size: 14px;
  }
  
  .navbar__link {
    margin: 0 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 996px) {
  .footer__title,
  .footer__items {
    text-align: center;
  }

  .footer__col .footer__items .footer__item img {
    width: 50%;
  }

  .headers-title-h1 {
    font-size: 32px;
  }

  .headers-subtitle-p {
    font-size: 16px;
    line-height: 20px;
    margin-top: -1rem;
    width: 50%;
  }

  .title-h2 {
    font-size: 26px;
  }

  .subtitle-h3 {
    font-size: 16px;
  }

  .button {
    padding: 0.5rem 1rem;
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 600px) {
  .headers-title-h1 {
    font-size: 30px;
  }

  .headers-subtitle-p {
    font-size: 14px;
    line-height: 16px;
    width: 50%;
  }

  .button {
    font-size: 12px;
  }
}

/* API Menu Items */
.api-method > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
  border-color: transparent;
  color: white;
}

.get > .menu__link::before {
  content: "get";
  background-color: var(--ifm-color-primary);
}

.post > .menu__link::before {
  content: "post";
  background-color: var(--openapi-code-green);
}

.delete > .menu__link::before {
  content: "del";
  background-color: var(--openapi-code-red);
}

.put > .menu__link::before {
  content: "put";
  background-color: var(--openapi-code-blue);
}

.patch > .menu__link::before {
  content: "patch";
  background-color: var(--openapi-code-orange);
}

.head > .menu__link::before {
  content: "head";
  background-color: var(--ifm-color-secondary-darkest);
}

/* Media Queries */
@media screen and (min-width: 2200px) {
  .navbar {
    width: 70vw;
    margin: auto;
  }

  .headers-subtitle-p {
    width: 50%;
  }
}


@media screen and (min-width: 3200px) {
  .navbar {
    width: 60vw;
    margin: auto;
  }
  
  .headers-subtitle-p {
    width: 40%;
  }
}
