/**
* CSS files with the .module.css suffix will be treated as CSS modules
* and scoped locally.
*/

.product_overview {
  width: 100%;
  height: auto;;
}

.container {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 90vw;
  }
}

@media screen and (max-width: 720px) {
  .container {
    width: 80vw;
  }
}
