/**
* CSS files with the .module.css suffix will be treated as CSS modules
* and scoped locally.
*/

.kits_gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--ifm-background-color);
  padding: 6rem 0 8rem;
}

.container {
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.title_container {
  width: 100%;
  height: auto;
  margin-top: 0;
}

.gallery_container {
  width: 100%;
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.gallery_item {
  width: 100%;
}

.item_img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}

.gallery_item:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1270px) {
  .gallery_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 996px) {
  .kits_gallery {
    padding: 6rem 0;
  }

  .title_container {
    margin-top: 2rem;
  }

  .container {
    width: 80vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .gallery_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .gallery_container {
    grid-template-columns: 1fr;
  }
}
