/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 71vh;
}

.hero_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
    
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-image: url("/static/img/main-bg-new.png"); */
  /* background-image: var(--ifm-background-color); */
  /* background-position: bottom; */
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.title,
.subtitle {
  font-family: "Manrope", sans-serif;
}

.title {
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
}

.subtitle_box {
  width: 60vw;
  margin: 0 auto 2rem;
}

.subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: -0.7px;
}

@media screen and (max-width: 996px) {
  .hero_bg {
    background-position: center right;
  }

  .title {
    font-size: 10vw;
    line-height: 10vw;
  }

  .subtitle {
    font-size: 2vw;
    line-height: 3vw;
  }

  .btn_container {
    margin-top: -2rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    justify-content: flex-start;
    padding-top: 30%;
  }

  .title {
    font-size: 44px;
    line-height: 40px;
  }
  .subtitle_box {
    width: 75vw;
  }

  .subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 2200px) {
  .heroBanner {
    width: 70vw;
    margin: auto;
    display: flex;
  }
}


@media screen and (min-width: 3200px) {
  .heroBanner {
    width: 60vw;
    margin: auto;
    display: flex;
  }
}
