/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 94vh;
}
    
.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/static/img/main_bg-min.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.title,
.subtitle {
  font-family: "Manrope", sans-serif;
}

.title {
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
}

.subtitle_box {
  width: 60vw;
  margin: 0 auto 2rem;
}

.subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: -0.7px;
}

.button {
  padding: 0.6rem 2rem;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-background-color);
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

.button:hover {
  background-color: #1e1e1e;
  color: var(--ifm-color-primary);
  text-decoration: none;
}

@media screen and (max-width: 996px) {
  .title {
    font-size: 10vw;
    line-height: 10vw;
  }

  .subtitle {
    font-size: 2vw;
    line-height: 3vw;
  }

  .btn_container {
    margin-top: -2rem;
  }

  .button {
    padding: 0.5rem 1rem;
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 44px;
    line-height: 40px;
  }
  .subtitle_box {
    width: 75vw;
  }

  .subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .button {
    padding: 0.3rem 1rem;
    font-size: 12px;
  }
}
