/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.developer_content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  overflow: hidden;
  background-color: var(--ifm-background-color);
}

.container {
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; 
  padding-bottom: 2rem;
}

.title_container {
  width: 100%;
  height: auto;
  margin-top: 3rem;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.img_container {
  display: flex;
  justify-content: center;
  width: 110%;
  margin: 1rem 0;
}

.img {
  width: 75%;
  height: fit-content;
}

.description {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@media screen and (max-width: 996px) {
  .developer_content {
    padding: 4rem 0 2rem;
  }

  .title_container {
    margin-top: 2rem;
  }

  .container {
    width: 80vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    gap: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 70vw;
    gap: 1rem;
    padding-bottom: 0;
  }

  .img {
    width: 100%;
  }
}
